<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/MainCtrl.js"></script>
  </head>
  <body ng-app="starter" ng-controller='MainCtrl'>

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title"><i class="icon ion-ios-calculator"></i> Calculator</h1>
      </ion-header-bar>
      <ion-content>
        <div class="calc-bar">
          <h2>{{display}}</h2>
        </div>
        <div class="button-bar">
          <a class="button button-calm" ng-click="squared(display)">x<sup>2</sup></a>
          <a class="button button-positive" ng-click="sin(display)">sin</a>
          <a class="button button-positive" ng-click="cos(display)">cos</a>
          <a class="button button-positive" ng-click="tan(display)">tan</a>
        </div>
        <div class="button-bar">
          <a class="button button-calm" ng-click="squareRoot(display)">√</a>
          <a class="button button-positive" ng-click="sin1(display)">sin<sup>-1</sup></a>
          <a class="button button-positive" ng-click="cos1(display)">cos<sup>-1</sup></a>
          <a class="button button-positive" ng-click="tan1(display)">tan<sup>-1</sup></a>
        </div>
        <div class="button-bar">
          <a class="button button-stable" ng-click="updateDisplay(1)">1</a>
          <a class="button button-stable" ng-click="updateDisplay(2)">2</a>
          <a class="button button-stable" ng-click="updateDisplay(3)">3</a>
          <a class="button button-positive" ng-click="setOperator('/')">&divide;</a>
        </div>
        <div class="button-bar">
          <a class="button button-stable" ng-click="updateDisplay(4)">4</a>
          <a class="button button-stable" ng-click="updateDisplay(5)">5</a>
          <a class="button button-stable" ng-click="updateDisplay(6)">6</a>
          <a class="button button-positive" ng-click="setOperator('*')">X</a>
        </div>
        <div class="button-bar">
          <a class="button button-stable" ng-click="updateDisplay(7)">7</a>
          <a class="button button-stable" ng-click="updateDisplay(8)">8</a>
          <a class="button button-stable" ng-click="updateDisplay(9)">9</a>
          <a class="button button-positive" ng-click="setOperator('+')">+</a>
        </div>
        <div class="button-bar">
          <a class="button button-stable" ng-click="updateDisplay(0)">0</a>
          <a class="button button-stable" ng-click=""></a>
          <a class="button button-stable" ng-click="updateDisplay('.')">.</a>
          <a class="button button-positive" ng-click="setOperator('-')">-</a>
        </div>
        <div class="button-bar">
          <a class="button button-assertive" ng-click="clear()">clear</a>
          <a class="button button-calm" ng-click="equal(display)">=</a>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
